*, *:before, *::after {
  box-sizing: border-box;
}

/* UI Bars / Status Bars / Black / Base */

.ui-status {
  background-image: url("../images/UI-Bar.png");
  width: 375px;
  height: 20px;
}

/* Container */

.background {
  background: rgba(0, 0, 0, 0.3);
  height: 667px;
  width: 375px;
}

.container {
  background-image: url("../images/background.png");
  overflow: hidden;
  position: relative;
  height: 667px;
  width: 375px;
}

.bus-information {
  background: #FFFFFF;
  height: 500;
  width: 350px;
  margin-left: 12px;
  margin-top: 56px;
}

/* Header */

.header {
  position: absolute;
  width: 350px;
  height: 47px;
  left: 12px;
  top: 29px;
  background: #044176;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#bus-icon {
  background-image: url("../images/bus-icon.png");
  position: absolute;
  height: 25px;
  weight: 24px;
  left: 11px;
  top: 12px;
}

#exit-icon {
  position: absolute;
  height: 15px;
  weight: 15px;
  right: 6px;
  top: 6px;
}

h1 {
  position: absolute;
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight:bold;
  line-height:17px;
  left:49px;
  top:16px;
  color: white;
}

h2 {
  position: absolute;
  width: 32px;
  text-align: right;
  left: 8px;
  top: 12px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #979797;
}

h3 {
  position: absolute;
  padding-left: 50px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
}

h7 {
  position: relative;
  padding-left: 288px;
  width: 100px;
  text-align: right;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
}


h4 {
  float: left;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  letter-spacing: 0.05em;
  padding-top:3px;
  padding-bottom:3px;
  color: #989EA5;
}

h5 {
  position: absolute;
  left: 8px;
  top: 3px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 22px;
  display: flex;
  letter-spacing: 0.05em;
  color: #989EA5;
}

h6 {
  width: 125px;
  height: 12px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.012em;
  color: #979797;
}

/* Bus Information */

#line-destination-frequency {
  position: relative;
  width: 350px;
}

#line {
  padding-left: 8px;
}

#destination {
  padding-left:18px;
}

#frequency {
  padding-left: 150px;
}

.direction {
  position: relative;
  width: 350px;
  height: 27px;
  background: #E6E6E6;
  border: 1.5px solid #E1E2E3;
  box-sizing: border-box;
}

.bus-line {
  position: relative;
  padding-top: 15px;
  width: 350px;
  height: 45px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}


#resumes {
  padding-left: 280px;
}

/* Navigation */

.nav-bar {
  position: relative;
  height: 51px;
  width: 375px;
  background: #F8F8F8;
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(27.1828px);
}

.nav-item {
  width: 33.3%;
  float: left;
  text-align: center;
}

i {
  color: #979797;
  padding-top:2%;
  font-size: 24px;
  text-align:center;
  padding-top:6px;
  padding-bottom: 3px;
}

.map {
  color: #044176;
  padding-top:2%;
  font-size: 24px;
  text-align:center;
  padding-top:6px;
  padding-bottom: 3px;
}

.selected {
  color: #044176;
}
